.create-project {
    /*display: table;*/
    /*text-align: center;*/
}

.create-project-btn {
    position: fixed;
    bottom: 30px;
    right: 40%;
    left: 40%;
    width: 20%;
}

.container {
    padding: 1.2em !important;
}
